/* Body style */

body {
    margin: 0;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.zeddHome__cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #121212;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeddHome__cover .zeddHome__logo {
    height: 176px;
    width: 735px;
    margin-right: 10%;
}


/* nav-bar begins */

.zeddHome__topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.zeddHome__logo {
    width: 180px;
    height: 40px;
}

.zeddHome__desktop {
    max-width: 1300px;
    margin: 0 75px;
}

ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#ul {
    margin: 0 20px;
    color: #e9e9e9;
    font-style: bold;
    font-family: Poppins;
    float: left;
    width: 40px;
    height: 40px;
}

li {
    padding-right: 20px;
    cursor: pointer;
}

li a {
    display: block;
    color: white;
    padding: 10px 5px;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: #111;
}

.zeddHome__container {
    display: flex;
    align-items: center;
}

.section1 {
    padding: 20px;
    margin-top: 25px;
}

.section h1 {
    text-align: center;
}

.zeddHome__tagline h2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #fafafa;
    text-align: left;
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.zeddHome__tagline h2 span {
    display: inline-block;
    transform: translateY(100%);
}

.zeddHome__tagline {
    position: relative;
}

.zeddHome__tagline img {
    position: absolute;
    bottom: -3%;
    left: 0;
    z-index: -10;
}

.he {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    width: 75%;
    line-height: 27px;
    letter-spacing: 0.009em;
    color: #9E9E9E;
}

.search-wrapper {
    width: 530px;
    border-radius: 40px;
    background: transparent;
    padding-bottom: 40px;
}


/* Form text input */

.search-wrapper input {
    padding-left: 20px;
    width: 282px;
    height: 55px;
    float: left;
    border: 0;
    background: rgba(66, 66, 66, 0.53);
    border-radius: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.009em;
    color: #fafafafa;
    outline: none;
}


/* Form submit button */

.search-wrapper button {
    overflow: visible;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 55px;
    width: 230px;
    font-family: 'Poppins';
    background: #0089FF;
    border-radius: 8px;
    color: #fafafa;
}

.search-wrapper button:hover {
    background-color: #fafafa;
    color: #0089ff;
    filter: blur(.75px);
}

.zeddHome__socialLinks {
    position: relative;
    display: flex;
}

.zeddHome__form {
    width: 100%;
}

.illus img {
    height: 430px;
    width: 430px;
}

::placeholder {
    font-family: 'Poppins';
    font-size: 13px;
}

.zeddHome__socialIcon {
    background: #4a4a4a47;
    border-radius: 8px;
    padding: 10px;
}

.zeddHome__modalOverlay {
    background: #0C0C0C;
    opacity: 0.9;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeddHome__modalBox {
    width: 530px;
    height: 60%;
    background: #121212;
    border-radius: 8px;
    color: #fafafa;
    padding: 18px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.zeddHome__modalMemojiContainer {
    background: #1D1D1D;
    mix-blend-mode: normal;
    opacity: 0.5;
    height: 100px;
    width: 100px;
    border-radius: 164%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeddHome__modalBox h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.zeddHome__modalBox p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #9E9E9E;
    width: 60%;
}

.zeddHome__modalCloseButton {
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 55px;
    width: 185px;
    font-family: 'Poppins';
    background: #0089FF;
    border-radius: 8px;
    color: #fafafa;
}

@media (min-width: 600px) {
    .hee {
        font-size: 18px;
    }
    .zeddHome__mobile {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .section1 {
        padding: 0;
    }
    .zeddHome__tagline h2 {
        font-size: 24px;
        line-height: 44px;
        width: 100%;
    }
    .zeddHome__desktop {
        max-width: 100vw;
        margin: 0 50px;
    }
    .he {
        font-size: 12px;
        line-height: 22px;
    }
    .search-wrapper {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .search-wrapper input {
        margin-bottom: 15px;
    }
    .search-wrapper button {
        width: 282px;
    }
    .zeddHome__illustration {
        width: 100%;
    }
    .illus img {
        width: 100%;
        height: 100%;
        width: 120%;
        height: 100%;
        margin-left: -20px;
    }
}

@media (max-width: 600px) {
    .zeddHome__desktop {
        display: none;
    }
    .zeddHome__tagline img {
        position: absolute;
        position: absolute;
        bottom: -12%;
        left: 20%;
        z-index: -10;
    }
    .zeddHome__desc {
        width: 100%;
        height: 54px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.009em;
        color: #9E9E9E;
    }
    .zeddHome__section1 {
        margin-top: 55px;
        padding-left: 6px;
    }
    .zeddHome__form {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .zeddHome__form input {
        margin-bottom: 15px;
        padding-left: 20%;
        width: 100%;
        height: 48px;
        border: 0;
        background: rgba(66, 66, 66, 0.53);
        font-family: 'Poppins';
        border-radius: 8px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.009em;
        color: #fafafafa;
        outline: 0;
    }
    .zeddHome__form button {
        font-family: 'Poppins';
        width: 100%;
        height: 47px;
        background: #0089FF;
        border-radius: 8px;
        text-align: center;
        color: white;
        text-transform: capitalize;
        border: 0;
        outline: 0;
        font-size: 13px;
        font-weight: 500;
    }
    .zeddHome__socialLinks {
        overflow: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .zeddHome__socialLinks li {
        display: flex;
        justify-content: center;
        padding-right: 20px;
    }
    .zeddHome__socialLinks li:nth-of-type(3) {
        padding-right: 0;
    }
    .zeddHome__logo {
        height: 28px;
        width: 105px;
    }
    .zeddHome__tagline {
        width: 100%;
        text-align: center;
        color: #FAFAFA;
        margin-bottom: 18px;
        position: relative;
    }
    .zeddHome__tagline h1 {
        width: 100%;
        height: 60px;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    .zeddHome__modalBox {
        width: 85%;
    }
    .zeddHome__modalBox h1 {
        font-size: 20px;
        margin-top: 0;
    }
    .zeddHome__modalBox p {
        font-size: 13px;
        line-height: 20px;
    }
    .zeddHome__modalCloseButton {
        height: 45px;
        width: 145px;
    }
}

.zeddHome__mobile {
    padding: 0 35px;
    margin-top: 34px;
}